@keyframes aniamte-letter {
    0% {
        opacity: 0;
        transform: translateY(20px) rotate(12deg);
    }
    50% {
        opacity: 1;
        transform: translateY(-8px) rotate(-12deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(0);
    }
}
.animated-text {
    font-size: 30px;
}
.animated-letter {
    animation: aniamte-letter .3s forwards;
}
.animated-letter.space {
    width: 6px;
}