:root {
  --primary-background: #1c1d25;
  --secondary-background: #23242e;
  --third-background: #2d2f3b;
  --header-background: #1c1d25;
  --primary-header-text: #fff;
  --primary-text: #fff;
  --text-muted: #797979;
  --primary-color: #dd364d;
  --primary-color-hover: #be2c40;
  --border-radius: 5px;
  --tooltip-background: #16171d;
  --timeline-line-width: 4px;
  --timeline-line-height: 200px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background);
}

[data-tooltip]::after {
  pointer-events: none;
}
[data-tooltip] {
  position: relative;
}
[data-tooltip-direction="up"]::after {
  top: -43px;
}
[data-tooltip-direction="down"]::after {
  top: 53px;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%) scale(.7);
  background-color: var(--tooltip-background);
  white-space: nowrap;
  color: var(--primary-text);
  padding: 6px 12px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity .15s, transform .15s;
  font-weight: bold;
  font-size: 16px;
}
[data-tooltip]:hover::after {
  opacity: 1;
  transform: translate(-50%) scale(1);
}